<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Gestion_Cmd_Restau</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Page_depard</display-name>
    <servlet-name>Page_depard</servlet-name>
    <servlet-class>Page_depard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_depard</servlet-name>
    <url-pattern>/Page_depard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page_depart</display-name>
    <servlet-name>Page_depart</servlet-name>
    <servlet-class>Page_depart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page_depart</servlet-name>
    <url-pattern>/Page_depart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasserCmdClientServlet</display-name>
    <servlet-name>PasserCmdClientServlet</servlet-name>
    <servlet-class>PasserCmdClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasserCmdClientServlet</servlet-name>
    <url-pattern>/PasserCmdClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCommande</display-name>
    <servlet-name>GestionCommande</servlet-name>
    <servlet-class>GestionCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCommande</servlet-name>
    <url-pattern>/GestionCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashbordAdmin</display-name>
    <servlet-name>DashbordAdmin</servlet-name>
    <servlet-class>DashbordAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashbordAdmin</servlet-name>
    <url-pattern>/DashbordAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierAdmin</display-name>
    <servlet-name>ModifierAdmin</servlet-name>
    <servlet-class>ModifierAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierAdmin</servlet-name>
    <url-pattern>/ModifierAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherEmployes</display-name>
    <servlet-name>AfficherEmployes</servlet-name>
    <servlet-class>AfficherEmployes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherEmployes</servlet-name>
    <url-pattern>/AfficherEmployes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffihcherMenus</display-name>
    <servlet-name>AffihcherMenus</servlet-name>
    <servlet-class>AffihcherMenus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffihcherMenus</servlet-name>
    <url-pattern>/AffihcherMenus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterCategorie</display-name>
    <servlet-name>AjouterCategorie</servlet-name>
    <servlet-class>AjouterCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterCategorie</servlet-name>
    <url-pattern>/AjouterCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterEmploye</display-name>
    <servlet-name>AjouterEmploye</servlet-name>
    <servlet-class>AjouterEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEmploye</servlet-name>
    <url-pattern>/AjouterEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterMenu</display-name>
    <servlet-name>AjouterMenu</servlet-name>
    <servlet-class>AjouterMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterMenu</servlet-name>
    <url-pattern>/AjouterMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierCategorie</display-name>
    <servlet-name>ModifierCategorie</servlet-name>
    <servlet-class>ModifierCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierCategorie</servlet-name>
    <url-pattern>/ModifierCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierLivreur</display-name>
    <servlet-name>ModifierLivreur</servlet-name>
    <servlet-class>ModifierLivreur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierLivreur</servlet-name>
    <url-pattern>/ModifierLivreur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierServeur</display-name>
    <servlet-name>ModifierServeur</servlet-name>
    <servlet-class>ModifierServeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierServeur</servlet-name>
    <url-pattern>/ModifierServeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SauvegarderModificationLivreur</display-name>
    <servlet-name>SauvegarderModificationLivreur</servlet-name>
    <servlet-class>SauvegarderModificationLivreur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SauvegarderModificationLivreur</servlet-name>
    <url-pattern>/SauvegarderModificationLivreur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SauvegarderModificationServeur</display-name>
    <servlet-name>SauvegarderModificationServeur</servlet-name>
    <servlet-class>SauvegarderModificationServeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SauvegarderModificationServeur</servlet-name>
    <url-pattern>/SauvegarderModificationServeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerCategorie</display-name>
    <servlet-name>SupprimerCategorie</servlet-name>
    <servlet-class>SupprimerCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerCategorie</servlet-name>
    <url-pattern>/SupprimerCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerLivreur</display-name>
    <servlet-name>SupprimerLivreur</servlet-name>
    <servlet-class>SupprimerLivreur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerLivreur</servlet-name>
    <url-pattern>/SupprimerLivreur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerMenu</display-name>
    <servlet-name>SupprimerMenu</servlet-name>
    <servlet-class>SupprimerMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerMenu</servlet-name>
    <url-pattern>/SupprimerMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerServeur</display-name>
    <servlet-name>SupprimerServeur</servlet-name>
    <servlet-class>SupprimerServeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerServeur</servlet-name>
    <url-pattern>/SupprimerServeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherCommandes</display-name>
    <servlet-name>AfficherCommandes</servlet-name>
    <servlet-class>AfficherCommandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherCommandes</servlet-name>
    <url-pattern>/AfficherCommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashbordLivreur</display-name>
    <servlet-name>DashbordLivreur</servlet-name>
    <servlet-class>DashbordLivreur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashbordLivreur</servlet-name>
    <url-pattern>/DashbordLivreur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashbordServeur</display-name>
    <servlet-name>DashbordServeur</servlet-name>
    <servlet-class>DashbordServeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashbordServeur</servlet-name>
    <url-pattern>/DashbordServeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletServeurConsultation</display-name>
    <servlet-name>ServletServeurConsultation</servlet-name>
    <servlet-class>ServletServeurConsultation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletServeurConsultation</servlet-name>
    <url-pattern>/ServletServeurConsultation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierServeurInfos</display-name>
    <servlet-name>ModifierServeurInfos</servlet-name>
    <servlet-class>ModifierServeurInfos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierServeurInfos</servlet-name>
    <url-pattern>/ModifierServeurInfos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLivreurConsultation</display-name>
    <servlet-name>ServletLivreurConsultation</servlet-name>
    <servlet-class>ServletLivreurConsultation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLivreurConsultation</servlet-name>
    <url-pattern>/ServletLivreurConsultation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierLivreurInfos</display-name>
    <servlet-name>ModifierLivreurInfos</servlet-name>
    <servlet-class>ModifierLivreurInfos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierLivreurInfos</servlet-name>
    <url-pattern>/ModifierLivreurInfos</url-pattern>
  </servlet-mapping>
</web-app>